<header>
    <h1><%= board_name %></h1>
    <h2><%= board_description %></h2>
    <div class="header-nav">
        <a href="/">return to thread list</a>
    </div>
</header>
<main>
    <div class="container thread-link">
        <div class="post-info">
            <span>
                <strong><%= thread_data.name %></strong>
                <%= thread_data.time.to_s("%d/%m/%y(%a) %H:%M:%S") %>
                No.<%= thread_data.id %>
            </span>
        </div>
        <div class="post-content">
            <p><%= thread_data.content %></p>
        </div>
    </div>
    <div class="container thread-form">
        <h2>Reply to thread</h2>
        <%= render "src/views/elements/thread_form.ecr" %>
    </div>
</main>