<div class="threads-list">
    <% if threads_list.empty? %>
        <p>No threads available</p>
    <% else %>
        <ul>
        <% threads_list.each do |post| %>
            <li>
                <a href=<%= "/thread/" + post[:id].to_s %>><strong><%= post[:subject] || "No subject" %></strong> - <%= post[:content] %></a>
            </li>
        <% end %>
        </ul>   
    <% end %>
</div>